# Set Up
If you haven't setup your credentials in the config.json file, please do so in the given prompt.

In [312]:
import pandas as pd
import requests
import json

In [313]:
# Setting up the config for usage.
try:
    with open('config.json', 'r') as f:
        config = json.load(f)
    user_agent = config['user_agent']
    key1 = config['key1']
    key2 = config['key2']
    key3 = config['key3']
    username = config['username']
    print("Config Loaded Successfully.")
    key_list = [key1, key2, key3]
    
except:
    print('config.json wasn\'t found.\nCreating new config file. Please enter your credentials.')
    user_agent = input('Enter User Agent: ')
    username = input('Enter your username: ')
    key1 = input('Enter Secret Key: ')
    key2 = input('Enter Secret Key 2:\nLeave blank if you don\'t have mirror keys. ')
    if key2 == '':
        key2 = key1
    key3 = input('Enter Secret Key 3:\nLeave blank if you don\'t have mirror keys. ')
    if key3 == '':
        key3 = key1
    
#     with open('config.json.sample','r') as f:
#         config = json.load(f)
    config = {'user_agent':None,'key1':None, 'key2':None, 'key3':None, 'username':None}
    config['user_agent'] = user_agent
    config['key1'] = key1
    config['key2'] = key2
    config['key3'] = key3
    config['username'] = username
    
    with open('config.json','w+') as f:
        json.dump(config, f)
    
    key_list = [key1, key2, key3]

    print()
    print("Your configuration has been saved to config.json!")
    
# Fetches variables: user_agent, username, key1, key2, key3, key_list

Config Loaded Successfully.

# Fetching Data from Last.fm

In [314]:
# Generic Function for sending requests

def send_request(user=username, page=1, limit=200, key=key1, method='user.getrecenttracks'):
    
    headers = {'user-agent': user_agent}
    
    payload ={
    'limit':limit,
    'user':user,
    'page': page,
    'api_key': key,
    'method': method,
    'format': 'json'
    }
    
    api_reply = requests.get('https://ws.audioscrobbler.com/2.0/', headers=headers, params=payload)
    
    return api_reply

In [315]:
# Fetch a page and clean data before return.
# Also handles exceptions.

def get_page(num=1, username=username, key=key1, method='user.getrecenttracks'):
    
    try:
        response = send_request(page=num, key=key, method=method)
        
        if response.status_code != 200:
            raise Exception(api_reply.text)
        
        page = (response.json())['recenttracks']['track']
        
        if num == 1: 
            global totalPages
            totalPages = int((response.json())['recenttracks']['@attr']['totalPages'])
        
        if (num!=1) & ('@attr' in page[0].keys()): 
            if (page[0]['@attr']=={'nowplaying': 'true'}):
                del page[0]
        
        return page

    except:
        raise Exception("request status {}".format(response.status_code))

# Get the total number of pages for 200 scrobbles per page.

def get_totalPages(method='user.getrecenttracks'):
    response = send_request(method = method)
    totalPages = int((response.json())['recenttracks']['@attr']['totalPages'])
    return totalPages

totalPages = get_totalPages()

In [316]:
# Picks a key from given list of keys
def key_picker(num, ls):
    index_num = num % len(ls)
    return ls[index_num]

In [354]:
# Fetches all the pages and merges them into a list "pages"
# Uses a fancy progress bar to show progress.
# Large accounts may time time to fetch!


from IPython.core.display import clear_output

pages = []

for n in range(1, (totalPages)+1):
    
    print('fetched page {}/{}'.format(n, totalPages))
    
    spaces = (((totalPages-n)/totalPages)*50)
    bar = ((n/totalPages)*50)
    string = '[{}{}] {}% Completed'.format('~'*int(bar),' '*int(spaces), int(bar)*2)
    print(string)
    
    clear_output(wait=True)
    
    ky = key_picker(num = n, ls = key_list)
    fetched_page = get_page(num=n, key=ky)
    
    pages = [*pages, *fetched_page]
print()
print("Fetched {} pages, {} scrobbles".format(totalPages, len(pages)))

Fetched 68 pages, 13411 scrobbles

# Cleaning up Fetched Data with #Pandas

In [355]:
df = pd.DataFrame(pages)
df.head()

                                              artist  ...                                               date
0             {'mbid': '', '#text': 'Bruno Martini'}  ...                                                NaN
1  {'mbid': '10539fc9-7b6a-4a95-8b9b-cd8d6c7e8a87...  ...  {'uts': '1645356251', '#text': '20 Feb 2022, 1...
2  {'mbid': '3e1f2ee4-16be-4406-bf18-6173840cf2b1...  ...  {'uts': '1645356052', '#text': '20 Feb 2022, 1...
3  {'mbid': 'cc91bb2e-7330-4f9e-ae04-4f78f49e3155...  ...  {'uts': '1645355857', '#text': '20 Feb 2022, 1...
4  {'mbid': 'c07f0676-9143-4217-8a9f-4c26bd636f13...  ...  {'uts': '1645355545', '#text': '20 Feb 2022, 1...

[5 rows x 9 columns]

In [356]:
df.drop(['image','streamable'], inplace=True, axis=1)
if '@attr' in df.columns:
  df.drop('@attr', inplace=True, axis = 1)
df.head()

                                              artist  ...                                               date
0             {'mbid': '', '#text': 'Bruno Martini'}  ...                                                NaN
1  {'mbid': '10539fc9-7b6a-4a95-8b9b-cd8d6c7e8a87...  ...  {'uts': '1645356251', '#text': '20 Feb 2022, 1...
2  {'mbid': '3e1f2ee4-16be-4406-bf18-6173840cf2b1...  ...  {'uts': '1645356052', '#text': '20 Feb 2022, 1...
3  {'mbid': 'cc91bb2e-7330-4f9e-ae04-4f78f49e3155...  ...  {'uts': '1645355857', '#text': '20 Feb 2022, 1...
4  {'mbid': 'c07f0676-9143-4217-8a9f-4c26bd636f13...  ...  {'uts': '1645355545', '#text': '20 Feb 2022, 1...

[5 rows x 6 columns]

In [357]:
#Split the artist column, and rename the df. Drop the orginal column
artist_split = df['artist'].apply(pd.Series).rename(columns = {'mbid':'artist_mbid','#text':'artist'})
df.drop(columns = ['artist'], inplace=True)

#Split the album column, and rename the df. Drop the original column
album_split = df['album'].apply(pd.Series).rename(columns = {'mbid':'album_mbid','#text':'album'})
df.drop(columns = ['album'], inplace=True)

#Split the date column, and rename the df. Drop the original column
#Also check if residual '0' column is made. (If the top song is being streamed, it wont include the timing.)
date_split = df['date'].apply(pd.Series).rename(columns = {'uts':'uts','#text':'date'})
df.drop(columns = ['date'], inplace=True)
if 0 in date_split.columns:
    date_split.drop(0, axis=1, inplace=True)

#Merging the new columns into main df
df = pd.concat([df, artist_split, album_split, date_split],axis=1)
df.head()

                                   mbid  ...         uts
0  b73ce155-5e32-47b8-b5f5-eaba83d83d6b  ...         NaN
1                                        ...  1645356251
2                                        ...  1645356052
3                                        ...  1645355857
4  1c6f9d2a-132b-3837-b9c9-52d6489d7000  ...  1645355545

[5 rows x 9 columns]

In [358]:
#Reordering columns
col_reorder = ['artist','name','album','date','artist_mbid','mbid','album_mbid','uts','url']
df = df.reindex(col_reorder, axis=1)
df.head()

                artist  ...                                                url
0        Bruno Martini  ...  https://www.last.fm/music/Bruno+Martini/_/Wake...
1        Mike Williams  ...  https://www.last.fm/music/Mike+Williams/_/Face...
2        Martin Garrix  ...  https://www.last.fm/music/Martin+Garrix/_/Spot...
3             Vicetone  ...  https://www.last.fm/music/Vicetone/_/Walk+Thru...
4  My Chemical Romance  ...  https://www.last.fm/music/My+Chemical+Romance/...

[5 rows x 9 columns]

# Exporting into CSV

In [360]:
import copy

# df.to_csv('export.csv', encoding='utf-8')
# df.to_json('export.json', encoding='utf-8')

df_ = copy.deepcopy(df)

# Data Analysis & Visualization

In [363]:
# Finding Top Songs:
TopSongs = pd.DataFrame(df['name'].value_counts())
TopSongs.head(10)

                   name
Fu re te Fu re ru    52
us                   50
Signal               50
contrast             41
打上花火                 40
だから僕は音楽を辞めた          40
Shandy               39
ninelie              39
katharsis            38
Who What Who What    37

In [364]:
TopArtists = pd.DataFrame(df['artist'].value_counts())
TopArtists.head(10)

                            artist
Yutaka Yamada                  822
TK from Ling tosite sigure     530
Ling Tosite Sigure             426
ヨルシカ                           308
Aimer                          306
TK from 凛として時雨                 296
Hiroyuki Sawano                291
小田朋美                           242
amazarashi                     223
RADWIMPS                       179

# Working with Timeseries Data

In [370]:
# 20 Feb 2022, 10:03
import datetime as dt
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'] + dt.timedelta(hours=5, minutes=30)

In [371]:
map1 = (df['date'].dt.time > dt.time(00,00,00))
map2 = (df['date'].dt.time < dt.time(23,59,00))
map3 = (df['date'].dt.date == dt.date(2022,2,20))
df[map3]
# df_time

                        artist  ...                                                url
1                Mike Williams  ...  https://www.last.fm/music/Mike+Williams/_/Face...
2                Martin Garrix  ...  https://www.last.fm/music/Martin+Garrix/_/Spot...
3                     Vicetone  ...  https://www.last.fm/music/Vicetone/_/Walk+Thru...
4          My Chemical Romance  ...  https://www.last.fm/music/My+Chemical+Romance/...
5                 Virtual Riot  ...  https://www.last.fm/music/Virtual+Riot/_/REDLI...
..                         ...  ...                                                ...
83  TK from Ling tosite sigure  ...  https://www.last.fm/music/TK+from+Ling+tosite+...
84  TK from Ling tosite sigure  ...  https://www.last.fm/music/TK+from+Ling+tosite+...
85                     YOASOBI  ...            https://www.last.fm/music/YOASOBI/_/RGB
86                       Aimer  ...      https://www.last.fm/music/Aimer/_/Brave+Shine
87                     YOASOBI  ...            https://www.last.fm/music/YOASOBI/_/RGB

[87 rows x 9 columns]